@import "../../data/styles.css";

.homepage-logo-container {
	display: flex;
	justify-content: left;
	align-items: center;
	padding-top: 130px;
}

.homepage-container {
	padding-top: 25px;
}

.homepage-first-area {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.homepage-first-area-left-side {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.homepage-title {
	width: 85% !important;
}

.homepage-subtitle {
	width: 85% !important;
}

.homepage-first-area-right-side {
	display: flex;
	align-items: center;
}

.homepage-image-container {
	width: 370px;
	height: 370px;
}

.homepage-image-wrapper {
	overflow: hidden;
}

.homepage-image-wrapper img {
	width: 100%;
}

.homepage-socials {
	display: flex;
	justify-content: left;
	align-items: center;
	padding-top: 30px;
	margin-bottom: 50px;
}

.homepage-social-icon {
	padding-right: 20px;
	font-size: 25px;
	transition: color 0.2s ease-in-out;
	color: var(--secondaryII-color);
}

.homepage-social-icon:hover {
	color: var(--primary-color);
}

.homepage-after-title {
	display: flex;
}
.resume-btn {
	padding: 5px 15px;
	background: #f4d150;

	font-size: medium;
	border: 2px dashed rgb(227, 227, 227);
	border-radius: 5px;
}
.resume-btn:hover {
	padding: 5px 15px;
	background: whitesmoke;
	font-size: medium;
	border: 2px dashed rgb(147, 147, 147);
	border-radius: 5px;
}
.resume-btn a {
	font-family: source-code-pro, Menlo, Monaco, Consolas;
	text-decoration: none;
	color: rgb(28, 28, 28);
}
.resume-btn a:hover {
	color: var(--secondary-color);
}

.homepage-projects {
	flex-basis: 300px;
	padding-top: 40px;
}

.homepage-articles {
	flex-basis: 900px;
	padding-top: 30px;
	margin-left: -30px;
}

.homepage-article {
	padding-bottom: 5px;
}

.homepage-works {
	flex-basis: 600px;
	padding-top: 30px;
}

@media (max-width: 1024px) {
	.homepage-first-area {
		flex-direction: column;
	}
	.homepage-social-icon {
		font-size: 17px;
	}
	.page-footer::before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		border-top: 3px solid #fafafa;
	}

	.homepage-first-area-left-side {
		display: flex;
		flex-direction: column; /* Changed: set direction to column */
		align-items: flex-start;
		width: 100%;
		order: 1;
	}

	.homepage-title {
		width: 100% !important;
		margin-top: 20px;
		order: 1;
	}

	.homepage-subtitle {
		width: 100% !important;
		margin-top: 10px;
		order: 2;
	}

	.homepage-first-area-right-side {
		width: 100%;
		order: 4;
	}

	.homepage-image-container {
		padding-top: 50px;
		padding-bottom: 50px;
		margin-left: 10px;
		order: 4;
		margin: auto;
		width: 100%;
		margin-bottom: 30px;
	}

	.homepage-after-title {
		flex-direction: column;
	}

	.homepage-projects {
		flex-basis: auto;
	}

	.homepage-articles {
		flex-basis: auto;
		margin: auto;
	}

	.homepage-works {
		flex-basis: auto;
		margin-left: -25px;
		margin-right: -25px;
	}
	.homepage-socials {
		margin-bottom: 0px;
	}

	.mt-xl {
		margin-top: 220px;
	}
}
@media (max-width: 600px) {
	.mt-xl {
		margin-top: 0px;
	}
}
